

.skill{
    text-align: left;
}
/* .b {
    color: aqua;
} */

/* <style> */
        /* Define a CSS rule to target bold elements */

        body {
            background-color:whitesmoke ;
        }
        p {
            text-align: left;
          }
         a{
            text-decoration: none;
         }
        h1{
            color:black;
        }
        label:hover{
            background-color: yellow;
        }
        li:hover {
            background-color: yellow;
        }
        table:hover{
            background-color: yellow;
        }
        
         b {
            color: #e91e63; /* Set the color to pink */
            font-weight: bold; /* Ensure the text is bold */
        }
        a {
            color: rgb(52, 42, 165);
            font-weight: bolder;

        }
        body {
        background-color:white(165, 192, 201); /* Change the color to light blue */
    }
    h3 {
        color: red;
    }
    /* </style> */


